html,
body {
    height: 100%;
    width: 100%;
}


/* #contextMenu { */
/* .g6-component-contextmenu {
    border-radius: 4px;
    font-size: 12px;
    color: #545454;
    background-color: rgba(255, 355, 255, 0.9);
} */
#mountNode {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* z-index: 1; */
}

::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

.g6-toolbar-ul {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
    display: inline-block;
    box-shadow: rgb(174, 174, 174) 0px 0px 2px 2px;
    z-index: 9999;

}

/* .btn-default {
    border: none;
} */



/* ----------- */

.nav {
    width: 40px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 999;
}

#rightNav {
    z-index: 999;
    width: 300px;
    height: 100%;
    display: none;
    float: right;
    position: absolute;
    right:0;
}




#rightNav>div {
    display: none;
}

#rightNav>div.selected {
    display: block;
}