.el-drawer__header {
    margin-bottom: auto;
    margin-top: auto;
    padding-bottom: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}