.el-drawer__header {
    margin-bottom: auto;
    margin-top: auto;
    padding-bottom: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

.g6-component-contextmenu .list {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 3;
}

.g6-component-contextmenu .list li {
    width: 150px;
    height: 36px;
    line-height: 36px;
    font-size: var(--el-menu-item-font-size);
    color: var(--el-menu-text-color);
    text-align: center;
    cursor: pointer;
}

.g6-component-contextmenu .list li:hover {
    background-color: #ecf5ff;
}